global
  log 127.0.0.1 local0
  log-send-hostname
  chroot /var/lib/haproxy
  pidfile /var/run/haproxy.pid
  user haproxy
  group haproxy

userlist admins
  group adm users admin
  user admin insecure-password terr1f1c
  
defaults
  log global
  mode http
  timeout connect 5s
  timeout check 10s
  timeout client 30s
  timeout server 30s
  timeout http-request 30s
  timeout queue 60s
  timeout http-keep-alive 60s

listen stats
  bind *:9000
  acl AUTH http_auth(admins)
  acl AUTH_ADMIN http_auth_group(admins) adm
  stats enable
  stats show-legends
  stats show-node
  stats show-desc terrific tls tuning tips loadbalancer
  stats http-request auth unless AUTH
  stats admin if AUTH_ADMIN
  stats refresh 30s
  stats uri /
  
frontend www
  bind *:80
  acl is_letsencrypt path_beg -i /.well-known/acme-challenge/
  use_backend letsencrypt if is_letsencrypt
  default_backend nginx

backend nginx
  option httpchk HEAD /ping
  timeout server 1s
  server localhost   127.0.0.1:8080 check

backend letsencrypt
  mode http
  server letsencrypt 127.0.0.1:9080
  