global
  log 127.0.0.1 local0
  log-send-hostname
  chroot /var/lib/haproxy
  pidfile /var/run/haproxy.pid
  user haproxy
  group haproxy
  crt-base /etc/ssl/certs
  tune.ssl.default-dh-param 2048
  tune.ssl.cachesize 40000
  tune.ssl.lifetime 43200
  tune.ssl.maxrecord 2859
  ssl-default-bind-options no-sslv3
  ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA:!DHE-RSA-AES128-SHA

userlist admins
  group adm users admin
  user admin insecure-password terr1f1c
  
defaults
  log global
  mode http
  timeout connect 5s
  timeout check 10s
  timeout client 30s
  timeout server 30s
  timeout http-request 30s
  timeout queue 60s
  timeout http-keep-alive 60s

listen stats
  bind *:9000 ssl crt {{ domain }}.pem alpn http/1.1
  acl AUTH http_auth(admins)
  acl AUTH_ADMIN http_auth_group(admins) adm
  stats enable
  stats show-legends
  stats show-node
  stats show-desc terrific tls tuning tips loadbalancer
  stats http-request auth unless AUTH
  stats admin if AUTH_ADMIN
  stats refresh 30s
  stats uri /
  
frontend www-http
  bind *:80
  acl is_letsencrypt path_beg -i /.well-known/acme-challenge/
  use_backend letsencrypt if is_letsencrypt
  default_backend nginx

frontend www-https
  mode tcp
  bind *:443 ssl crt {{ domain }}.pem alpn h2,http/1.1
  http-response add-header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" if { ssl_fc }
  http-response add-header Public-Key-Pins "pin-sha256=\"{{ pkp_cert_hashes[0] }}\";pin-sha256=\"{{ pkp_cert_hashes[1] }}\";max-age=86400; includeSubdomains; report-uri=\"https://s24securityreports.report-uri.io/r/default/hpkp/enforce\"" if { ssl_fc }
  use_backend nginx-h2 if { ssl_fc_alpn -i h2 }
  default_backend nginx

backend nginx
  option httpchk HEAD /ping
  timeout server 1s
  server localhost   127.0.0.1:8080 check

backend nginx-h2
  mode tcp
  timeout server 1s
  server localhost   127.0.0.1:8082 check send-proxy

backend letsencrypt
  mode http
  server letsencrypt 127.0.0.1:9080
  